html, body {
margin: 0 auto;

}

#topBanner {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 1;

}

ul {
list-style-type: none;
margin: auto;
    padding-top: 30px;
    
}

li {
display: inline;
    margin: 40px;
    color: white;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;

}

.logo {
width: 550px;
    height: 300px;
    background-image: url(../img/logoWhite.png);
    background-size: cover;
    position: absolute;
    left: 365px;
    top: 175px;



}

#firstPanel {
width: 100vw;
    height: 640px;
    background-image: url(../img/firstPanel.png);
    background-size: cover;
    z-index: 1;
    position: relative;

}

#concretePanel {
width: 100vw;
    height: 598px;
    background-image: url(../img/concretePanel.png);
    background-size: cover;
    z-index: 1;
    position: relative;
    
    

}

.titleContainer {
width: 100vw;
    height: 100px;
    text-align: center;
    color: white;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    float: left;
    z-index: 2;
    top: 20px;

}
#secondPanel {
width: 100vw;
    height: 640px;
    background-image: url(../img/secondPanel.png);
    background-size: cover;
    z-index: 1;

}

a {
text-decoration: none;
    color: white;

}

a:hover {
font-weight: 400;

}

.arrow {
width: 50px;
    height: 50px;
    background-image: url(../img/arrowIcon.png);
    background-size: cover;
    position: absolute;
    left: 615px;
    top: 620px;

}

#footer {
    width: 100vw;
    height: 150px;
    background-color: #252525;
    position: relative;

}

.arrowUp {
width: 50px;
    height: 50px;
    background-image: url(../img/arrowUp.png);
    background-size: cover;
    position: absolute;
    left: 615px;
    top: 50px;

}

.servicesText {
width: 640px;
    height: 640px;
    text-align: center;
    color: white;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 100px;
    float: left;

}

h1 {
font-size: 35px;

}
p {

font-size: 25px;
}

.hoursText {
width: 640px;
    height: 640px;
    text-align: center;
    color: #252525;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 100px;
    float: left;

}

.videoContainer, iframe {
width: 100vw;
  height: 800px;
  
    


}

.barberOne {
    width: 450px;
    height: 450px;
    background-image: url(../img/barberOne.png);
    background-size: cover;
    position: absolute;
    top: 64px;
    left: 100px;
    

}

.barberOneBlur {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 64px;
    left: 100px;
    

}
.barberOneBlur:hover {
    width: 450px;
    height: 450px;
    position: absolute;
    background-image: url(../img/barberOneBlur.png);
    background-size: cover;
    top: 64px;
    left: 100px;

    

}


.barberTwo {
    width: 450px;
    height: 450px;
    background-image: url(../img/barberTwo.png);
    background-size: cover;
    position: absolute;
    top: 64px;
    right: 100px;
    

}

.barberTwoBlur {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 64px;
    right: 100px;
    

}
.barberTwoBlur:hover {
    width: 450px;
    height: 450px;
    background-image: url(../img/barberTwoBlur.png);
    background-size: cover;
    position: absolute;
    top: 64px;
    right: 100px;
    

}


