<div class='apptViewWrapper animated fadeIn'>
    
    

  <div class='logout' ng-click='logout()'>LOGOUT</div>


  <div class='creatorBox'>

    <div class='creatorInputs'>
      <h1 class='createHeader'>CREATE NEW APPOINTMENT</h1> First Name:
      <input type="text" placeholder="First Name" ng-model='appt.firstName'>
      <br/>
      <br/> Last Name:
      <input type="text" placeholder="Last Name" ng-model='appt.lastName'>
      <br/>
      <br/> Date:
      <input type="datetime-local" placeholder="Date" ng-model='appt.date'>
      <br/>

      <br/> Service Type:
      <select ng-model='appt.serviceType'>
        <option>Men's Haircut</option>
        <option>Young Gentleman's Haircut</option>
        <option>Straight-Razor Shave</option>
      </select>


      <br/>
      <br/> Barber:
      <select ng-model='appt.barber' ng-options='barber.name for barber in barbers'>

      </select>


      <br/>
      <br/>
      <div class='createBtn' ng-click='newAppt(appt)'>CREATE</div>
      <br/>
    </div>


  </div>


  <div class='filterBox'>
    <input class='searchBar' type="text" placeholder="SEARCH" ng-model='searchBar' />

    <div class='viewAllApptsNewLink' ng-click='clearFilter()'>VIEW ALL</div>

    <div class='todayViewLink' ng-model='today.date' ng-click='todayFilter()'>TODAY</div>


    <div class='tomorrowViewLink' ng-model='today.date' ng-click='tomorrowFilter()'>TOMORROW</div>
    <br/>

    <div class='davidViewLink' ng-model='today.barber' ng-click='barberFilter1()'>DAVID</div>
    <div class='danielViewLink' ng-model='today.barber' ng-click='barberFilter2()'>DANIEL</div>
  </div>

  <div class='apptsWrapper'>


    <div ng-repeat="appt in appts | orderBy:'date' | orderBy:'time' | filter:today.date | filter:tomorrow.date | filter:today.barber | filter:searchBar" class='appointmentBlocks'>
      <h3>{{appt.firstName}} {{appt.lastName}}</h3>
      <h5>{{appt.date | date:'longDate'}}</h5>
      <h5>{{appt.date | date: 'shortTime'}}</h5>
      <h5>{{appt.serviceType}}</h5>
      <h5>{{appt.barber.name}}</h5>

      <div class='deleteBtn' ng-click='deleteAppt(appt._id)'>DELETE</div>
      <br/>
      <br/>
    </div>


    </ul>


  </div>


</div>