<div id='topBanner' class='animated fadeIn'>
  <ul>
    <li><a href='#topBanner'>HOME</a></li>
    <li><a href='#firstPanel'>SERVICES</a></li>
    <li><a href='#concretePanel'>BARBERS</a></li>

    <li><a href='#secondPanel'>CONTACT</a></li>


  </ul>

  <div class='logo'></div>

  <a href='#firstPanel'>
    <div class='arrow animated infinite pulse'></div>
  </a>

</div>
<div class='videoContainer'>
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/aOfWNYrgyOY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div id='firstPanel'>
  <div class='servicesText'>
    <h1>SERVICES</h1>
    <br/>


    <p>MEN'S HAIRCUT - $25</p>
    <p>YOUNG GENTLEMAN’S HAIRCUT – $20</p>
    <p>STRAIGHT-RAZOR SHAVE – $25</p>
  </div>
  <div class='hoursText'>
    <h1>HOURS</h1>
    <br/>


    <p>MONDAY - FRIDAY: 10AM - 7PM</p>
    <p>SATURDAY: 10AM - 5PM</p>
    <p>SUNDAY: CLOSED</p>
  </div>
</div>

<div class='bookContainer'>
  <div class='bookNow'><a href="tel:+18507589976">CALL NOW TO BOOK</a></div>

</div>


<div id='concretePanel'>
  <div class='titleContainer'>
    <h1>THE BARBERS</h1></div>


  <div class=barberOne></div>
  <div class='barberOneBlur'></div>
    <div class='barberSocialBox1'>
    <div class='barbSocial1'></div>
        <div class='barbSocial2'></div>
    </div>
  <div class=barberTwo></div>
  <div class='barberTwoBlur'></div>
     <div class='barberSocialBox2'>
         <div class='barbSocial3'></div>
         <div class='barbSocial4'></div>
    
    </div>


</div>
<div id='secondPanel'>
  <div class='contactText'>
    <h1>CONTACT</h1>


    <p class='address'>HYPOTHETICAL BARBER SHOP
      <br/>1234 SOMEWHERE ST
      <br/>SOMEPLACE, UT 84664
      <br/>
      <br/> (801) 987-6543
      <br/> HYPOTHETICAL@BARBERSHOP.COM


    </p>

  </div>

  <div class='socialText'>
    <h1>SOCIAL</h1>
    <br/>
    <a href='https://www.facebook.com' target="_blank">
      <div class='icon fb'></div>
    </a>
    <a href='https://www.twitter.com' target="_blank">
      <div class='icon twitter'></div>
    </a>
    <a href='https://www.instagram.com' target="_blank">
      <div class='icon ig'></div>
    </a>
    <a href='https://www.youtube.com' target="_blank">
      <div class='icon youTube'></div>
    </a>


  </div>

</div>
<div id='instagram'></div>

<div id='footer'>
  <a href='#topBanner'>
    <div class='arrowUp'></div>
  </a>
  <a class='adminLoginLink' href='/#/login'>ADMIN LOGIN</a>
</div>