<link rel="stylesheet" href="css/login.css">

<div class='loginPageWrapper'>

  <div class='loginBox'>

    <div class='loginInputs'>

      <h1 class='loginHeader'>LOGIN</h1> USERNAME:
      <input class='loginField' type="text" ng-model='user.userName' placeholder="Username" />
      <br/> PASSWORD:
      <input class='loginField' ng-model='user.password' type='password' placeholder="Password" />

      <br/>
      <br/>

      <div class='loginBtn' ng-click='logIn(user)'>LOGIN</div>


    </div>

  </div>


</div>