@media screen and (min-width: 1280px) {
  .pageWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .creatorBox {
    width: 275px;
    height: 400px;
    background-image: url(../img/metalBG.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -900px;
    border: 4px solid #492323;
    box-shadow: 0 0 1em black;
  }
  .createHeader {
    color: #252525;
    font-size: 20px;
  }
  .creatorInputs {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -125px;
    text-align: left;
    padding: 20px;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #252525;
      line-height: 1.4;
  }
  input {
    background-color: white;
    color: #252525;
    border: 1px solid #492323;
    font-family: Oswald, sans-serif;
    padding-left: 5px;
    font-weight: 300;
      border-radius: 4px;
  }
    select {
    background-color: white;
    color: #252525;
    border: 1px solid #492323;
    font-family: Oswald, sans-serif;
    padding-left: 5px;
    font-weight: 300;
        
    
    }
  .goToAppts {
    width: 275px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 250px 0 0 -137.5px;
    color: white;
    font-family: Oswald, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
/*
  .viewLink {
    color: white;
  }
  .viewLink:hover {
    text-shadow: 0.2em 0.2em 0.2em black;
  }
*/
  .apptsWrapper {
    width: 1100px;
    height: 800px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -250px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(../img/metalBG.png);
    background-size: cover;
    box-shadow: 0 0 1em black;
    border: 4px solid #492323;
  }
  .createNewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
  }
  .createNewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
  }
  .appointmentBlocks {
    width: 175px;
    height: 175px;
    background-image: url(../img/darkmetalBG.png);
    background-size: cover;
    padding: 5px 20px 20px 20px;
    border: 4px solid #492323;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 18px;
    margin: 20px;
    text-align: left;
    color: white;
    line-height: 0.3;
    box-shadow: 0.2em 0.2em 0.2em black;
    position: relative;
    left: 30px;
  }
    
    .filterBox {
    width: 380px;
    height: 600px;
        margin: -400px 0 0 -525px;
        position: absolute;
        top: 50%;
    left: 50%;
        text-align: left;
        font-family: Oswald,sans-serif;
        font-size: 40px;
        color: white;
    -webkit-font-smoothing: antialiased;
        line-height: 2.0;
        
    
    
    }
    
    .todayViewLink:hover {
   
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    .tomorrowViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
     .davidViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    
    .danielViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    .viewAllApptsNewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    
    
  .searchBar {
    width: 200px;
    height: 30px;
    font-family: Oswald, sans-serif;
    
  }
  .apptViewWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .deleteBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 1px solid white;
    text-align: center;
    line-height: 22px;
    float: right;
    margin-top: -10px;
    font-size: 15px;
  }
  .deleteBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 2px solid white;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    float: right;
    margin-top: -10px;
    background-color: #492323;
  }
  .createBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 1px solid white;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    background-color: #252525;
  }
  .createBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 2px solid white;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    background-color: #492323;
    box-shadow: 0.2em 0.2em 0.2em black;
  }
/*
  .todayViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 300px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .todayViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 300px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
  .tomorrowViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 400px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .tomorrowViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 400px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
  .davidViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 600px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .davidViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 600px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
  .danielViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 700px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .danielViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 700px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
  .clearViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 500px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .clearViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 500px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
  .viewAllApptsNewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 200px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
  }
  .viewAllApptsNewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 200px;
    left: 420px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 40px;
  }
*/
}
/*
___________________________$$______________
 _________________________$$$$_____________
 _______________________$$$$$$_____________
 ______________________$$$$$$______________
 ______________________$$$$________________
 ______________________$$__________________
 _________$$$$$$$$$$$$$_$$$$$$$$$$$$$______
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$___
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$__
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$____
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$______
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_______
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$________
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$________
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_______
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$______
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$____
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_
 _____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$__
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$___
 ________$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_____
 __________$$$$$$$$$$$$$$$$$$$$$$$$$_______
 ____________$$$$$$$$$$$$$$$$$$$$$_________
 ______________$$$$$$$$__$$$$$$$___________
*/
/*1280 X 800*/

@media screen and (max-width: 1280px) {
  .pageWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .creatorBox {
    width: 275px;
    height: 400px;
    background-image: url(../img/metalBG.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -600px;
    border: 4px solid #492323;
    box-shadow: 0 0 1em black;
  }
  .createHeader {
    color: #252525;
    font-size: 20px;
  }
  .creatorInputs {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 -125px;
    text-align: left;
    padding: 20px;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #252525;
      line-height: 1.4;
  }
  input {
    background-color: white;
    color: #252525;
    border: 1px solid #252525;
    font-family: Oswald, sans-serif;
    padding-left: 5px;
    font-weight: 300;
  }
  .goToAppts {
    width: 275px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 250px 0 0 -137.5px;
    color: white;
    font-family: Oswald, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
/*
  .viewLink {
    color: white;
  }
  .viewLink:hover {
    text-shadow: 0.2em 0.2em 0.2em black;
  }
*/
  .apptsWrapper {
    width: 700px;
    height: 600px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(../img/metalBG.png);
    background-size: cover;
    box-shadow: 0 0 1em black;
    border: 4px solid #492323;
  }
  .createNewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
  }
  .createNewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
  }
  .appointmentBlocks {
    width: 130px;
    height: 130px;
    background-image: url(../img/darkmetalBG.png);
    background-size: cover;
    padding: 5px 20px 20px 20px;
    border: 4px solid #492323;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 15px;
    margin: 20px;
    text-align: left;
    color: white;
    line-height: 0.3;
    box-shadow: 0.2em 0.2em 0.2em black;
    position: relative;
    left: 20px;
  }
    
   .filterBox {
    width: 380px;
    height: 600px;
        margin: -300px 0 0 -280px;
        position: absolute;
        top: 50%;
    left: 50%;
        text-align: left;
        font-family: Oswald,sans-serif;
        font-size: 30px;
        color: white;
    -webkit-font-smoothing: antialiased;
        line-height: 2.0;
        
    
    
    }
    
    .todayViewLink:hover {
   
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    .tomorrowViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
     .davidViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    
    .danielViewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    .viewAllApptsNewLink:hover {
    
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    
  }
    
    
  .searchBar {
    width: 150px;
    height: 30px;
    font-family: Oswald, sans-serif;
    
  }
/*
  .searchBar {
    width: 150px;
    height: 30px;
    font-family: Oswald, sans-serif;
    position: absolute;
    left: 350px;
    top: 60px;
  }
*/
  .apptViewWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .deleteBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 18px;
    border: 1px solid white;
    text-align: center;
    line-height: 18px;
    float: right;
    margin-top: -14px;
    font-size: 15px;
  }
  .deleteBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 18px;
    border: 2px solid white;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    float: right;
    margin-top: -14px;
  }
  .createBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 1px solid white;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    background-color: #252525;
  }
  .createBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 2px solid white;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    background-color: #252525;
    box-shadow: 0.2em 0.2em 0.2em black;
  }
/*
  .todayViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 200px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .todayViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 200px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
  .tomorrowViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 300px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .tomorrowViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 300px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
  .davidViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 500px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .davidViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 500px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
  .danielViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 600px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .danielViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 600px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
  .clearViewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 400px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .clearViewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 400px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
  .viewAllApptsNewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 100px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
  }
  .viewAllApptsNewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 100px;
    left: 360px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
    cursor: pointer;
    font-size: 30px;
  }
*/
}
/*
___________________________$$______________
 _________________________$$$$_____________
 _______________________$$$$$$_____________
 ______________________$$$$$$______________
 ______________________$$$$________________
 ______________________$$__________________
 _________$$$$$$$$$$$$$_$$$$$$$$$$$$$______
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$___
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$__
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$____
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$______
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_______
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$________
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$________
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_______
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$______
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$____
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_
 _____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$__
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$___
 ________$$$$$$$$$$$$$$$$$$$$$$$$$$$$$_____
 __________$$$$$$$$$$$$$$$$$$$$$$$$$_______
 ____________$$$$$$$$$$$$$$$$$$$$$_________
 ______________$$$$$$$$__$$$$$$$___________
*/
/*IPHONE 6 PLUS*/

@media screen and (max-width: 414px) {
  .pageWrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
      overflow: auto;
      
  }
  .creatorBox {
    width: 380px;
    height: 500px;
    background-image: url(../img/metalBG.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -190px;
    border: 4px solid #492323;
    box-shadow: 0 0 1em black;
      display: none;
  }
  .createHeader {
    color: #252525;
    font-size: 20px;
  }
  .creatorInputs {
    width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -150px;
    text-align: left;
    padding: 20px;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #252525;
      line-height: 1.4;
  }
  input {
    background-color: white;
    color: #252525;
    border: 1px solid #252525;
    font-family: Oswald, sans-serif;
    padding-left: 5px;
    font-weight: 300;
  }
  .goToAppts {
    width: 275px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 250px 0 0 -137.5px;
    color: white;
    font-family: Oswald, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
/*
  .viewLink {
    color: white;
  }
  .viewLink:hover {
    text-shadow: 0.2em 0.2em 0.2em black;
  }
*/
  .apptsWrapper {
    width: 380px;
    height: 300px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 30px 0 0 -190px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(../img/metalBG.png);
    background-size: cover;
    box-shadow: 0 0 1em black;
    border: 4px solid #492323;
  }
  .createNewLink {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
  }
  .createNewLink:hover {
    color: white;
    font-family: Oswald, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.2em 0.2em 0.2em black;
  }
    .filterBox {
    width: 380px;
    height: 600px;
        margin: -350px 0 0 -190px;
        position: absolute;
        top: 50%;
    left: 50%;
        text-align: center;
        font-family: Oswald,sans-serif;
        font-size: 25px;
        color: white;
    -webkit-font-smoothing: antialiased;
    
    
    }
    
  .appointmentBlocks {
    width: 300px;
    height: 250px;
    background-image: url(../img/darkmetalBG.png);
    background-size: cover;
    padding: 5px 20px 20px 20px;
    border: 4px solid #492323;
    font-family: Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 25px;
    margin: 20px;
    text-align: left;
    color: white;
    line-height: 0.3;
    box-shadow: 0.2em 0.2em 0.2em black;
    position: relative;
    left: 0px;
  }
/*
  .searchBar {
    width: 150px;
    height: 30px;
    font-family: Oswald, sans-serif;
    position: absolute;
    left: 350px;
    top: 60px;
  }
*/
  .apptViewWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/topBanner.png);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .deleteBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 18px;
    border: 1px solid white;
    text-align: center;
    line-height: 18px;
    float: right;
    margin-top: -14px;
    font-size: 15px;
  }
  .deleteBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 18px;
    border: 2px solid white;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    float: right;
    margin-top: -14px;
  }
  .createBtn {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 1px solid white;
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    background-color: #252525;
  }
  .createBtn:hover {
    color: white;
    font-family: Oswald, sans-serif;
    width: 50px;
    height: 22px;
    border: 2px solid white;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    background-color: #252525;
    box-shadow: 0.2em 0.2em 0.2em black;
  }

}